/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("components/button.css");
@import url("components/card.css");
/* Utilities */
body {
  margin: auto auto;
  font-family: Arial;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.banner{
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  margin-bottom:40px;
}

.container {
  font-family: 'Ubuntu', sans-serif;
  color:white;
  width: 900px;
  margin: auto;
}

.container h1 {
  font-family: 'Ubuntu', sans-serif;
}

.container p{
  font-family: 'Ubuntu', sans-serif;
  font-size:20px;
}

.action img{
  width:32px;
  opacity:0.8;
}


.action img:hover{
  width:40px;
  opacity:0.9;
}
.action {
  justify-content:flex-start;
  display:flex;
  align-items: center;
  position:absolute;
  top: 16px; /*[wherever you want it]*/
  right:3em;
}

.action a {
  margin-right: 20px;
  color:#f4f4f4;
  font-family:Ubuntu;
}
/* Custom design below! */
.cardsblock{
  width:960px;
}
.container h2 {
  color:#685c6b;
  background:linear-gradient(transparent 55%, #ddbbbb61 45%);
  border-bottom: solid 5px #fde4e68c;
  max-width: 30%;
  margin: 20px auto;
}
.text-center {
  text-align:center;
}

.container .cards {
  color:#3c675e;
}

.cardsblock p {
      font-size: 10px;
    margin: 5px auto 20px;
}



.footer{

  padding: 60px;
  background-color: #FEF1F2;
}

.footer .text{
  font-size:26px;
  font-family: 'Ubuntu', sans-serif;
  color: #3c675e;
  text-align: center;
  margin-bottom: 12px;
}

.sub-block{
  margin:auto auto;
}

.maillist{
  display:flex;
  justify-content: center;
  margin:auto auto;
  text-align: center;
}

.footer-links {
margin-top:2em;
}

.field input {
  padding:1em 1em;
  color:#6f5e7459;
  width:300px;
  border:none;
  border-bottom:solid 1px #6f5e7459;
  background-color: #FEF1F2
}

.footer button {
  border:none;
  background-color: #FEF1F2;
  border-bottom:1px solid #6f5e7459;
}


.submit {
  color: #6f5e7459;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 16px;

}

.submit:hover {
  color:#6f5e74d4;
}

.footer-inner {
  width:960px;
  margin:auto auto;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.footer-links a {
  color:#6f5e74d4;
  margin-right:1em;
}

.social-icon img {
  padding: 16px 0 0 0;
  width:30px;
  margin-left:1em;
}

.field input::placeholder {
  color:#c9c9c9;
}
