.card {
  width: 220px;
  border-radius: 10px;
  border: 2px solid #ffc0cb61;
  box-shadow: 0 2px 5px 1px rgba(150,150,150,.1);

  text-align: center;
  padding: 20px;
  margin-right:40px;
  margin-bottom:40px;
  height:200px;
}

.cards {
    display: flex;
   /* justify-content: space-between;*/
    margin-bottom: 30px;
  flex: 0 0 220px;
    flex-wrap: wrap;
  justify-content: center;
}
.card:nth-child(3n){
  margin-right: 0px;
}


.card img {
  width:200px;
}

.card h4{
  margin:0 auto;
}

.card:hover{
  transform: scale(1.05) rotate(0.001deg);
  background-size: 180px;
  background-position: left 30px top -10px,center;
  border: none;
  box-shadow: none;
}

.card a {
  padding-top:160px;
  color:#1a463df5;
}

.card img:hover {
  width:230px;
}
